.contactInput{
    display: block;
    margin:auto;
    width: 30vw;
    text-align: left;
    padding-bottom: 3vh;
}
.contactInputArea{
    display: block;
    margin:auto;
    width: 30vw;
}
textarea{
    height: 20vh;
}
.contactInput h3{
    padding-bottom: 1vh;
}
h2{
    font-size:x-large;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 10vw;
}
#submitButton{
    display: block;
    margin:auto;
    width: 30vw;
    margin-bottom: 3vh;
    height: 4vh;
    background-color: #4a8dbf;
    color: aliceblue;
    border-color: #4a8dbf;
}
#submitButton:hover{
    background-color: #18629a;
}