.footer {
    background-color: #204969;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p {
    color: #fff7f7;
    margin: 0;
    padding: 20px 0;
}

.footer-link {
    color: #fff7f7;
    text-decoration: none;
}

.link-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-decoration: underline;
}
@media screen and (max-width: 840px) {
    .footer {
        text-align: center;
        display: block;
    }
}